*, :after, :before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.header {
  position: relative;
  background-color: #00536D;
  width: 100%;
}

@media screen and (min-width: 900px) {
  .header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.header__title {
  color: #ffffff;
  margin: 0;
  padding: 15px;
  font-size: 16px;
}

@media screen and (max-width: 360px) {
  .header__title {
    font-size: 14px;
  }
}

@media screen and (min-width: 1010px) {
  .header__title {
    font-size: 18px;
  }
}

.header__logo {
  display: none;
  width: 75px;
  padding-top: 5px;
  padding-left: 5px;
  padding-bottom: 5px;
}

@media screen and (min-width: 360px) {
  .header__logo {
    display: block;
  }
}

@media screen and (min-width: 1010px) {
  .header__logo {
    width: 80px;
  }
}

@media screen and (min-width: 360px) {
  .name {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.navigation__list {
  display: none;
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

@media screen and (min-width: 900px) {
  .navigation__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.navigation__link {
  display: block;
  text-decoration: none;
  font-size: 18px;
  color: #ffffff;
  padding: 15px 5px;
  font-weight: 400;
  border-bottom: 1px solid #ffffff95;
}

.navigation__link:hover, .navigation__link:active {
  background-color: #4A2040;
  color: #ffffff;
}

.navigation__link--active {
  background-color: #ffffff;
  color: #00536D;
  font-weight: bold;
}

@media screen and (min-width: 900px) {
  .navigation__link {
    border-bottom: none;
    border-radius: 5px;
  }
}

@media screen and (min-width: 1100px) {
  .navigation__link {
    padding: 15px;
  }
}

.navigation__checkbox {
  position: absolute;
  left: -9999px;
}

.navigation__checkbox:checked ~ .navigation__list {
  display: block;
}

.navigation__toggler {
  position: absolute;
  right: 20px;
  top: 1.5em;
  display: inline-block;
  text-align: right;
  color: #ffffff;
}

.navigation--desktop {
  display: none;
}

.navigation__list-dropdown {
  display: none;
  position: absolute;
  list-style: none;
  background-color: #00536D;
  padding: 0;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.navigation__dropdown:hover .navigation__list-dropdown {
  display: block;
}

@media screen and (min-width: 900px) {
  .navigation--desktop {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .navigation--phone {
    display: none;
  }
}

.intro__image {
  width: 100%;
}

.intro__title {
  text-align: center;
  margin: 30px;
}

.intro__text {
  padding: 0 30px 30px;
  margin: 0;
  text-align: center;
}

@media screen and (min-width: 640px) {
  .intro__text {
    text-align: left;
  }
}

@media screen and (min-width: 1150px) {
  .container--column-half {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.intro__text--flower-1::before {
  content: "";
  display: block;
  height: 30px;
  width: 30px;
  background-size: 30px 30px;
  background-image: url(..//images/svg/flower-nadpis-1.svg);
  background-repeat: no-repeat;
  margin: 5px auto;
}

.intro__text--flower-4::before {
  content: "";
  display: block;
  height: 30px;
  width: 30px;
  background-size: 30px 30px;
  background-image: url(..//images/svg/flower-nadpis-4.svg);
  background-repeat: no-repeat;
  margin: 5px auto;
}

.intro__text--flower-2::before {
  content: "";
  display: block;
  height: 30px;
  width: 30px;
  background-size: 30px 30px;
  background-image: url(..//images/svg/flower-nadpis-2.svg);
  background-repeat: no-repeat;
  margin: 5px auto;
}

.meetings {
  margin-top: 30px;
  margin-bottom: 30px;
}

@media screen and (min-width: 900px) {
  .meetings {
    border: 2px solid rgba(0, 83, 109, 0.2);
  }
}

.meetings__text {
  padding: 0 30px 30px;
  margin: 0;
  text-align: center;
}

@media screen and (min-width: 1100px) {
  .meetings__text {
    text-align: left;
    padding: 0 30px;
  }
}

.meetings__title {
  text-align: center;
}

@media screen and (min-width: 1100px) {
  .meetings__title {
    text-align: left;
    padding: 0 30px;
  }
}

.meetings__map {
  width: 200px;
  margin: 30px;
}

@media screen and (min-width: 360px) {
  .meetings__map {
    width: 300px;
  }
}

@media screen and (min-width: 1100px) {
  .meetings__map {
    width: 400px;
    height: 300px;
  }
}

.meetings__image {
  width: 100%;
  margin-bottom: 15px;
}

@media screen and (min-width: 640px) {
  .meetings__image {
    display: block;
    max-width: 350px;
    margin: 30px auto;
  }
}

@media screen and (min-width: 1100px) {
  .meetings__image {
    margin: 30px;
  }
}

.footer {
  display: block;
  background-color: #bebebe;
  padding: 10px;
}

.footer__link {
  display: block;
  text-decoration: none;
  padding: 10px;
  color: #070707;
  border-radius: 5px;
}

.footer__link:hover {
  background-color: #5C5C5C;
  color: #ffffff;
}

.footer__icon::after {
  content: "";
  display: inline-block;
  height: 15px;
  width: 15px;
  background-size: 15px 15px;
  background-image: url(..//images/svg/angle-up.svg);
  background-repeat: no-repeat;
  margin-left: 3px;
}

.footer__text {
  display: none;
}

@media screen and (min-width: 360px) {
  .footer__text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.junak__link {
  display: inline-block;
  text-decoration: none;
  padding: 10px;
  color: #070707;
  border-radius: 5px;
}

.junak__link:hover {
  background-color: #5C5C5C;
  color: #ffffff;
}

.junak {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact {
  width: 90%;
  border-radius: 5px;
  -webkit-box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.1);
          box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.1);
  padding: 15px;
  margin: 30px auto;
  background-color: #ffffff;
}

@media screen and (min-width: 360px) {
  .contact {
    width: 300px;
  }
}

.contact-patrol {
  padding-bottom: 15px;
}

.contact__patrol-name, .contact__title, .contact__name {
  text-align: center;
  padding: 15px;
  margin: 0;
}

.contact__mail {
  text-align: center;
  padding-bottom: 15px;
  margin: 0;
}

@media screen and (max-width: 300px) {
  .contact__mail {
    font-size: 13px;
  }
}

.contact__image {
  width: 75px;
  height: 75px;
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
  margin: 0 auto;
}

@media screen and (min-width: 900px) {
  .contact__image {
    width: 100px;
    height: 100px;
  }
}

@media screen and (min-width: 1010px) {
  .contact__image {
    width: 150px;
    height: 150px;
  }
}

.contact-patrol--background {
  background-image: url(../images/svg/vzorek.svg);
  background-size: cover;
  background-position: center;
}

.contact-leader {
  width: 90%;
  border-radius: 5px;
  -webkit-box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.1);
          box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.1);
  padding: 15px;
  margin: 30px auto;
}

@media screen and (min-width: 360px) {
  .contact-leader {
    width: 300px;
  }
}

@media screen and (min-width: 900px) {
  .contact-leader {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 350px;
            flex: 0 0 350px;
  }
}

.contact-leader__name, .contact-leader__title {
  text-align: center;
  padding: 15px;
  margin: 0;
}

.contact-leader__mail, .contact-leader__phone {
  text-align: center;
  padding-bottom: 15px;
  margin: 0;
}

.contact-leader__mail::before {
  content: "";
  display: inline-block;
  height: 15px;
  width: 15px;
  background-size: 15px 15px;
  background-image: url(..//images/svg/envelope.svg);
  background-repeat: no-repeat;
  margin-right: 7px;
}

.contact-leader__phone::before {
  content: "";
  display: inline-block;
  height: 15px;
  width: 15px;
  background-size: 15px 15px;
  background-image: url(..//images/svg/phone.svg);
  background-repeat: no-repeat;
  margin-right: 7px;
}

.contact-leader__image {
  display: block;
  width: 75px;
  height: 75px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
  margin: 0 auto;
}

@media screen and (min-width: 900px) {
  .contact-leader__image {
    width: 100px;
    height: 100px;
  }
}

@media screen and (min-width: 1010px) {
  .contact-leader__image {
    width: 150px;
    height: 150px;
  }
}

.patrol {
  width: 90%;
  border-radius: 5px;
  -webkit-box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.1);
          box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.1);
  padding: 15px;
  margin: 30px auto;
  background-color: #ffffff;
}

@media screen and (min-width: 900px) {
  .patrol {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-width: 1250px;
  }
}

.patrol__image {
  width: 100%;
}

.patrol__title {
  text-align: center;
  padding: 15px;
  margin: 0;
}

@media screen and (min-width: 900px) {
  .patrol__title {
    text-align: left;
    padding-left: 30px;
  }
}

.patrol__title--small, .patrol__text {
  text-align: center;
  padding-bottom: 15px;
  margin: 0;
}

@media screen and (min-width: 900px) {
  .patrol__title--small, .patrol__text {
    text-align: left;
    padding-left: 30px;
  }
}

.patrol__title--small {
  font-family: 'Dancing Script', cursive;
}

.patrol__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
}

@media screen and (min-width: 900px) {
  .patrol__list {
    text-align: left;
    padding-left: 30px;
  }
}

.list__half {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
}

.nas-oddil {
  margin-top: 30px;
  margin-bottom: 30px;
}

@media screen and (min-width: 1100px) {
  .nas-oddil {
    width: 75%;
    margin: 60px auto;
  }
}

.nas-oddil__title {
  text-align: center;
  padding: 15px;
  margin: 0;
  margin-left: 15px;
  margin-right: 15px;
}

@media screen and (min-width: 1100px) {
  .nas-oddil__title {
    margin: 30px;
  }
}

.nas-oddil__image {
  width: 100%;
  margin-bottom: 15px;
}

@media screen and (min-width: 640px) {
  .nas-oddil__image {
    display: block;
    width: 640px;
    margin: 0 auto;
    margin-bottom: 15px;
  }
}

@media screen and (min-width: 1100px) {
  .nas-oddil__image {
    width: 100%;
  }
}

.nas-oddil__text {
  text-align: center;
  padding-bottom: 15px;
  margin: 0;
  margin-left: 15px;
  margin-right: 15px;
}

@media screen and (min-width: 1100px) {
  .nas-oddil__text {
    text-align: left;
    padding-right: 30px;
  }
}

.scouting {
  margin-top: 30px;
  margin-bottom: 30px;
  padding-bottom: 15px;
}

@media screen and (min-width: 1100px) {
  .scouting {
    width: 75%;
    margin: 60px auto;
  }
}

.scouting__title {
  text-align: center;
  padding: 15px;
  margin: 0;
  margin-left: 15px;
  margin-right: 15px;
}

@media screen and (min-width: 1100px) {
  .scouting__title {
    margin: 30px;
  }
}

.scouting__image {
  width: 100%;
  margin-bottom: 15px;
}

@media screen and (min-width: 640px) {
  .scouting__image {
    display: block;
    width: 640px;
    margin: 0 auto;
    margin-bottom: 15px;
  }
}

@media screen and (min-width: 1100px) {
  .scouting__image {
    width: 100%;
  }
}

.scouting__text {
  text-align: center;
  padding-bottom: 15px;
  margin: 0;
  margin-left: 15px;
  margin-right: 15px;
}

@media screen and (min-width: 1100px) {
  .scouting__text {
    text-align: left;
    padding-left: 30px;
  }
}

.scouting__list {
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center;
}

.scouting--background {
  background-image: url(../images/svg/vzorek.svg);
  background-size: cover;
  background-position: center;
}

.program {
  margin-top: 30px;
  margin-bottom: 30px;
}

@media screen and (min-width: 1100px) {
  .program {
    width: 75%;
    margin: 60px auto;
  }
}

.program__title {
  text-align: center;
  padding-bottom: 15px;
  margin: 0;
  margin-left: 15px;
  margin-right: 15px;
}

@media screen and (min-width: 1100px) {
  .program__title {
    margin: 30px;
  }
}

.program__image {
  width: 100%;
  margin-bottom: 15px;
}

@media screen and (min-width: 640px) {
  .program__image {
    display: block;
    width: 640px;
    margin: 0 auto;
    margin-bottom: 15px;
  }
}

@media screen and (min-width: 1100px) {
  .program__image {
    width: 100%;
  }
}

.program__text {
  text-align: center;
  padding-bottom: 15px;
  margin: 0;
  margin-left: 15px;
  margin-right: 15px;
}

@media screen and (min-width: 1100px) {
  .program__text {
    text-align: left;
    padding-right: 30px;
  }
}

.camps__title {
  text-align: center;
  padding: 15px;
  margin: 0;
}

.camps__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
}

@media screen and (min-width: 640px) {
  .camps__list {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 1100px) {
  .camps__list {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (min-width: 1500px) {
  .camps__list {
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
  }
}

.camps__list-item {
  display: block;
  text-align: center;
  padding-top: 30px;
}

.camps__image {
  width: 100%;
  /*margin: 0 auto;*/
}

@media screen and (min-width: 360px) {
  .camps__image {
    display: block;
    max-width: 300px;
    max-height: 200px;
    -o-object-fit: cover;
       object-fit: cover;
    margin: 0 auto;
  }
}

.camp {
  width: 90%;
  border-radius: 5px;
  -webkit-box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.1);
          box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.1);
  padding: 15px;
  margin: 30px auto;
}

.camp__number {
  text-align: center;
}

@media screen and (min-width: 900px) {
  .grid--layout {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 2fr 1fr;
        grid-template-columns: 2fr 1fr;
    gap: 30px;
  }
}

.sidebar {
  padding: 30px;
}

.history-intro__title, .history-intro__text {
  text-align: center;
  padding-bottom: 15px;
  margin: 0;
}

@media screen and (min-width: 900px) {
  .history-intro__title, .history-intro__text {
    text-align: left;
  }
}

.sixties {
  padding: 15px 30px;
}

.sixties__image {
  max-width: 90%;
  display: block;
  margin: 0 auto;
  padding-bottom: 15px;
}

@media screen and (min-width: 900px) {
  .sixties__image {
    margin: 0;
    max-width: 100%;
  }
}

.sixties__title, .sixties__text {
  text-align: center;
  padding-bottom: 15px;
  margin: 0;
}

@media screen and (min-width: 900px) {
  .sixties__text {
    padding-left: 30px;
    text-align: left;
  }
}

.origin__image {
  max-width: 100%;
  padding-top: 15px;
  display: block;
  margin: 0 auto;
}

.origin__title, .origin__text {
  text-align: center;
  padding-bottom: 15px;
  margin: 0;
}

@media screen and (min-width: 900px) {
  .origin__text {
    text-align: left;
  }
}

.origin__letter {
  font-family: 'Dancing Script', cursive;
  font-size: 20px;
}

.origin__list {
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center;
}

@media screen and (min-width: 900px) {
  .origin__list {
    text-align: left;
  }
}

.photo {
  position: relative;
}

.photo__description {
  max-width: 366px;
  color: #ffffff;
  margin: 0 auto;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.5);
  text-align: center;
  bottom: 0;
  left: 0;
}

.nineties {
  padding: 15px 30px;
}

.nineties__title, .nineties__title--small, .nineties__text {
  text-align: center;
  padding-bottom: 15px;
  margin: 0;
}

@media screen and (min-width: 900px) {
  .nineties__title--small, .nineties__text {
    text-align: left;
  }
}

.history-leaders {
  padding: 15px 30px;
}

.history-leaders__list {
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center;
}

@media screen and (min-width: 900px) {
  .history-leaders__list {
    text-align: left;
  }
}

.history-leaders__list-item {
  padding: 10px;
}

.history-leaders__title {
  text-align: center;
  padding-bottom: 15px;
  margin: 0;
}

@media screen and (min-width: 900px) {
  .history-leaders__title {
    text-align: left;
  }
}

.news__title {
  margin: 30px;
  text-align: center;
}

.plan__text, .plan__title {
  text-align: center;
  padding: 15px;
  margin: 0;
  margin-left: 15px;
  margin-right: 15px;
}

@media screen and (min-width: 1100px) {
  .plan__text, .plan__title {
    margin: 30px;
  }
}

.plan__list {
  padding: 30px 60px;
}

@media screen and (min-width: 1100px) {
  .plan__list {
    padding: 30px 150px;
  }
}

.equipment {
  padding: 30px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
}

@media screen and (min-width: 640px) {
  .equipment {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 1100px) {
  .equipment {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
  }
}

.equipment__title {
  margin: 30px;
}

.equipment__list {
  padding: 30px 60px;
  margin: 0;
}

.equipment__text {
  padding: 15px;
}

#HCB_comment_box .btn, #HCB_comment_box input[type=submit].btn {
  *padding-bottom: 2px;
  *padding-top: 2px;
}

#HCB_comment_box .btn:first-child, #HCB_comment_box .btn-group:first-child {
  *margin-left: 0;
}

#HCB_comment_box .uneditable-textarea, #HCB_comment_box input[type=button], #HCB_comment_box input[type=reset], #HCB_comment_box input[type=submit] {
  height: auto;
  width: auto;
}

#HCB_comment_box input, #HCB_comment_box input.btn, #HCB_comment_box select, #HCB_comment_box textarea {
  font-family: 'Montserrat', sans-serif !important;
}

#HCB_comment_box label, #HCB_comment_box input, #HCB_comment_box input.btn, #HCB_comment_box select, #HCB_comment_box textarea {
  line-height: 18px;
  font-size: 13px;
  font-weight: 400;
}

#HCB_comment_box input.submit {
  -webkit-appearance: none;
  margin: 0 7px 3px 0;
  background-color: #ffffff;
  border: 1px solid #00536D;
  border-top: 1px solid #00536D;
  border-left: 1px solid #00536D;
  font-family: 'Montserrat', sans-serif;
  font-size: 100%;
  line-height: 130%;
  text-decoration: none;
  font-weight: 900;
  color: #00536D;
  cursor: pointer;
  width: auto;
  overflow: visible;
  padding: 4px 10px 3px 7px;
}

#HCB_comment_box .help-inline, #HCB_comment_box .btn {
  display: inline-block;
  *zoom: 1;
  *display: inline;
  vertical-align: middle;
}

#HCB_comment_box .btn, #HCB_comment_box .btn-primary, #HCB_comment_box .btn-warning, #HCB_comment_box .btn-danger, #HCB_comment_box .btn-success, #HCB_comment_box .btn-info, #HCB_comment_box .btn-inverse {
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  background-repeat: repeat-x;
}

#HCB_comment_box .btn {
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  border-color: #ccc;
}

.vzkazovnik {
  height: 100vh;
  background-image: url(..//images/svg/vzorek.svg);
  background-size: cover;
  background-position: center;
}

.banner {
  width: 100%;
  height: 50vh;
  background-size: cover;
  background-image: url(../images/main/chrpy-2-maly.jpg);
  position: relative;
}

@media screen and (min-width: 640px) {
  .banner {
    height: 70vh;
  }
}

@media screen and (min-width: 1150px) {
  .banner {
    background-position: 0 -100px;
  }
}

.banner__title {
  position: absolute;
  bottom: 50px;
  left: 50px;
  font-family: 'Dancing Script', cursive;
  font-size: 2em;
  color: #ffffff;
  background-color: rgba(0, 0, 0, 0.18);
  border-radius: 25%;
}

@media screen and (min-width: 640px) {
  .banner__title {
    font-size: 3.5em;
  }
}

@media screen and (min-width: 1150px) {
  .banner__title {
    font-size: 5em;
  }
}

.container {
  display: block;
}

@media screen and (min-width: 640px) {
  .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media screen and (min-width: 900px) {
  .container--900px {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media screen and (min-width: 1100px) {
  .container--1100px {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.container--footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.column--half {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 calc((100% - 60px) / 2);
          flex: 1 1 calc((100% - 60px) / 2);
}

.column--right {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

@media screen and (min-width: 900px) {
  .column--main {
    width: 70vw;
    padding-right: 30px;
  }
}

@media screen and (min-width: 900px) {
  .column--sidebar {
    width: 30vw;
  }
}

.column--news {
  padding-left: 30px;
  padding-right: 30px;
  background-image: url(../images/svg/vzorek.svg);
  background-size: 800px;
  background-position: center;
}

@media screen and (min-width: 900px) {
  .grid--third {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 2fr 1fr;
        grid-template-columns: 2fr 1fr;
    gap: 30px;
    width: 75%;
    margin: 0 auto;
  }
}

@media screen and (min-width: 900px) {
  .grid--half {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 350px 350px;
        grid-template-columns: 350px 350px;
    gap: 60px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.wrapper {
  width: 90%;
  margin: 30px auto;
}

@media screen and (min-width: 1100px) {
  .wrapper {
    width: 75%;
    margin: 60px auto;
  }
}

.wrapper--640px {
  /* margin: $pad / 2;*/
  width: 90%;
  margin: 0 auto;
  padding: 60px;
  background-color: #ffffff;
}

@media screen and (min-width: 640px) {
  .wrapper--640px {
    width: 75%;
    margin: 0 auto;
  }
}

body {
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
  margin: 0;
}

h1,
h2 {
  font-family: 'Dancing Script', cursive;
}

.title {
  text-align: center;
  margin: 30px;
}

.title::before {
  content: "";
  display: inline-block;
  height: 30px;
  width: 30px;
  background-size: 30px 30px;
  background-image: url(..//images/svg/flower-nadpis-1.svg);
  background-repeat: no-repeat;
  margin-right: 10px;
}

.title::after {
  content: "";
  display: inline-block;
  height: 30px;
  width: 30px;
  background-size: 30px 30px;
  background-image: url(..//images/svg/flower-nadpis-5.svg);
  background-repeat: no-repeat;
  margin-left: 10px;
}

@media screen and (min-width: 640px) {
  .inner {
    width: 75%;
    margin: 0 auto;
  }
}

@media screen and (min-width: 640px) {
  .inner--900px {
    width: 75%;
    margin: 0 auto;
  }
}

@media screen and (min-width: 900px) {
  .inner--900px {
    width: 100%;
    margin: 0;
  }
}

.background {
  background-image: url(..//images/svg/vzorek.svg);
  background-size: cover;
  background-position: center;
  padding: 1px;
}

.spacer--end {
  margin-right: 15px;
}
/*# sourceMappingURL=style.css.map */