.header {
    position: relative;
    background-color: $primary;
    width: 100%;
    
    @media screen and (min-width: 900px) {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

.header__title {
    color: $secondary;
    margin: 0;
    padding: $pad / 2;
    font-size: 16px;

    @media screen and (max-width:360px) {
        font-size: 14px;   
    }

    @media screen and (min-width: 1010px) {
        font-size: 18px;
    }
}

.header__logo {
    display: none;
    width: 75px;
    padding-top: 5px;
    padding-left: 5px;
    padding-bottom: 5px;

    @media screen and (min-width: 360px) {
       display: block;
    }

    @media screen and (min-width: 1010px) {
       width: 80px
    }
}

.name {
    @media screen and (min-width: 360px) {
        display: flex;
        align-items: center;
    }
}


