    <!--patička-->
    <footer class="footer">
        <div class="container--footer">

            <div class="junak column--footer">
                <img class="junak__image" src="/images/svg/SKAUT_logo_cerne.svg" alt="logo Junák" width="50">
                <a class="junak__link" href="https://www.skaut.cz/">Více info o skautingu</a>
            </div>
        
            <div class="column--footer">
                <p class="footer__text"> Staroměstská 2469/27, <br>  
                    370 04 České Budějovice
                </p>
            </div>

            <div class="column--footer">
                <a class="footer__link" href="/kontakty/">Kontakty</a>
                <a class="footer__link footer__icon" href={{ nahoru }}>Nahoru</a>
            </div>
        </div>
    </footer>

    
</body>
</html>