<!DOCTYPE html>
<html lang="cz">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;600&family=Montserrat:wght@400;600&display=swap" rel="stylesheet">
    <title>Jednička</title>
</head>
<body>
    <!--hlavička-->
    <header class="header">
        <div class="name">
            <img class="header__logo" src="/images/svg/jednicka-lilie.svg" alt="logo" width="100">
            <h2 class="header__title">1. dívčí oddíl České Budějovice <br>
                Dráteníci
            </h2>
        </div>

        <!--navigace pro telefony-->
        <nav class="navigation--phone">

            <input type="checkbox" class="navigation__checkbox" id="navigation-checkbox">
            <label for="navigation-checkbox" class="navigation__toggler">&#9776; Menu</label>
            <ul class="navigation__list column">
                <li class="navigation__list-item "><a class="navigation__link" href="/">Úvod</a></li>
                <li class="navigation__list-item"><a class="navigation__link" href="/oddil/">Oddíl</a></li>
                <li class="navigation__list-item"><a class="navigation__link" href="/druziny/">Družiny</a></li>
                <li class="navigation__list-item"><a class="navigation__link" href="/historie/">Historie</a></li>
                <li class="navigation__list-item"><a class="navigation__link" href="/plan-akci/">Plán akcí</a></li>
                <li class="navigation__list-item"><a class="navigation__link" href="/vzkazovnik/">Vzkazovník</a></li>
                <li class="navigation__list-item"><a class="navigation__link" href="https://jednicky.rajce.idnes.cz/">Galerie</a></li>
                <li class="navigation__list-item"><a class="navigation__link" href="/pro-rodice/">Pro rodiče</a></li>
                <li class="navigation__list-item "><a class="navigation__link" href="/kontakty/">Kontakty</a></li>
            </ul>
        </nav>

        <!--navigace pro počítače-->
        <nav class="navigation--desktop">
            <ul class="navigation__list column">
                <li class="navigation__list-item"><a class="navigation__link {% if menu === 'uvod'%}navigation__link--active{% endif %}" href="/">Úvod</a></li>
                <div class="navigation__dropdown">
                <li class="navigation__list-item"><a class="navigation__link {% if menu === 'oddil'%}navigation__link--active{% endif %}" href="/oddil/">Oddíl</a></li>
                    <ul class="navigation__list-dropdown">
                        <li class="navigation__list-item navigation__list-item--dropdown"><a class="navigation__link {% if menu === 'druziny'%}navigation__link--active{% endif %}" href="/druziny/">Družiny</a></li>
                        <li class="navigation__list-item navigation__list-item--dropdown"><a class="navigation__link {% if menu === 'historie'%}navigation__link--active{% endif %}" href="/historie/">Historie</a></li>
                    </ul>
               </div>
                <li class="navigation__list-item"><a class="navigation__link  {% if menu === 'plan-akci'%}navigation__link--active{% endif %}" href="/plan-akci/">Plán akcí</a></li>
                <li class="navigation__list-item"><a class="navigation__link {% if menu === 'vzkazovnik'%}navigation__link--active{% endif %}" href="/vzkazovnik/">Vzkazovník</a></li>
                <li class="navigation__list-item"><a class="navigation__link" href="https://jednicky.rajce.idnes.cz/">Galerie</a></li>
                <li class="navigation__list-item"><a class="navigation__link  {% if menu === 'pro-rodice'%}navigation__link--active{% endif %}" href="/pro-rodice/">Pro rodiče</a></li>
                <li class="navigation__list-item spacer--end"><a class="navigation__link {% if menu === 'kontakty'%}navigation__link--active{% endif %}" href="/kontakty/">Kontakty</a></li>
            </ul>
        </nav>
    </header>